:root {
  --second-text-color: #ffffff;
  --first-text-color: #999999;
  --first-title-color: #ffffff;
  --button-color: #ffffff;
  --second-title-color: #323232;
  --accent-color: #4985ff;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* ------------navigation */
.link-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  color: var(--second-text-color);
}

.header {
  background-color: aqua;
}
/* --------Hero---------- */
.hero-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;

  text-align: center;

  color: var(--second-text-color);
}
.hero {
  background-color: turquoise;
}

.hero-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 1.33;
  text-align: center;

  color: var(--first-title-color);
}

.hero-button {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  color: var(--button-color);
  background-color: black;
}
/* ----About---- */
.about-title {
  font-size: 36px;
  line-height: 1.47;
  text-align: center;

  color: var(--second-title-color);
}
.about-text {
  font-size: 16px;
  line-height: 1.56;
  text-align: center;
  color: var(--first-text-color);
}
.about-list-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: #000000;
}
.about-list-text {
  font-size: 14px;
  line-height: 1.57;

  color: var(--first-text-color);
}
.about-button {
  font-family: Montserrat;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;

  color: var(--button-color);
}

/* STANDARTS */

.standarts-title {
  font-size: 36px;
  line-height: 1.47;
  color: var(--second-title-color);
}

.standarts-text {
  font-size: 16px;
  line-height: 1.56;
  color: var(--first-text-color);
}

.standarts-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: #4985ff;
}

.standarts-item-count {
  font-size: 36px;
  line-height: 1.47;
  color: #000000;
}

.standarts-item-text {
  font-size: 16px;
  line-height: 1.25;
  color: var(--first-text-color);
}

.work-title {
  font-size: 36px;
  line-height: 1.47;
  color: var(--first-title-color);
  background-color: violet;
}

.work-button {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--button-color);
}

.work-item-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--second-title-color);
}

.work-item-title span {
  color: var(--accent-color);
}

.work-item-text {
  font-size: 16px;
  line-height: 1.56;
  color: var(--first-text-color);
}

.work-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.25;
  color: var(--accent-color);
}

/* -----------projects section------- */
.projects-title {
  font-size: 36px;
  line-height: 1.47;
  text-align: center;
  color: #000000;
}
.projects-text {
  font-size: 16px;
  line-height: calc(25 / 16);
  color: var(--first-text-color);
}
.projects-button {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--first-title-color);
}
