:root {
    --second-text-color: ##ffffff;
    --first-text-color: #999999;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

body {
    font-family: "Montserrat", sans-serif;
}

/* ------------navigation */
.link-nav {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;

    color: #ffffff;
}

.header {
    background-color: aqua;
}
